<div class="contenedordecontacto">
    <a name="contacto"></a>
    <button class="btnbtn1">CONTÁCTENOS</button>
  </div>
  <div class="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.717102258774!2d-69.95497444977946!3d18.45114947604835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5621daf4447a1%3A0xfd92d83ddc67e864!2sDowntown%20Center!5e0!3m2!1ses-419!2sdo!4v1619568522160!5m2!1ses-419!2sdo" 
     style="border:0;" allowfullscreen="" loading="lazy" class="map"> </iframe>
   </div>
  
  <div class="aboutv2">
    <div class="inner-sectionv2">
        <h1 id="Nosotrosv2">Otros contactos</h1>
        <p class="textv2">
          Número: 809-343-5853.
          <br>
          <br>
          Lunes a Viernes de 2PM a 10PM.
          <br>
          <br>
          Sábados y Domingos de 12PM a 4PM.
          <br>
          <br>
          Nos encontramos en el segundo piso en Downtown Center!
          <br>
          <br>

          <a href = "/form" 
          target = "_self" class="elbutton elbutton1"> FORMULARIO DE RESERVACIÓN </a> 

    </div>
  </div>

 
    

  