<div class="footer">
<a name="contacto"></a>
    <div class="footer-content">
        <h3>Machador Grill Restaurant & Bar</h3>
        <p>Estamos ubicados en Downtown Center, 2do Piso.</p>
        <ul class="socials">
            <li><a href=""><i class="fa fa-facebook"><img src="./image/twitter.png" alt="" width="40"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"><img src="./image/youtube.png" alt="" width="40"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"><img src="./image/instagram.png" alt="" width="40"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"><img src="./image/face.png" alt="" width="40"></i></a></li>
        </ul>
    </div>
  
    <div class="footer-bottom">
        <p>copyright &copy;2008-2021 Machadorgrill@gmail.com. designed by <span>Edwin Morillo</span></p>
    </div>
</div>