<div>
    <script src=".image/script.js"></script>
 <img src="./image/logo.png" alt=""
 width="280" class="logoinicio">
 <br> 
 <br>
 <br>
 <br>
 <br>

<div id="barra"></div>

<a href = "/Inicio" 
target = "_self" class="button button1"> INICIO </a> 

<a href = "/nosotros" 
target = "_self" class="button button2"> NOSOTROS </a> 
  
<a href = "/menu" 
target = "_self" class="button button3"> MENÚ</a> 

<a href = "/contacto" 
target = "_self" class="button button4"> CONTACTO </a> 
