<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head',{ruta: "./css/pagina.css"})%>
</head>
<body>

  <header>

    <%- include('../partials/header')%>

  </header>

  <main>

    <%- include('../partials/bodyInicio')%>

  </main>

  <footer>

    <%- include('../partials/footer')%>

  </footer>
  
</body>
</html>


 