<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head',{ruta:"./css/menu.css"})%>
</head>
<body>

  <header>

    <%- include('../partials/header')%>

  </header>

  <main>

    <%- include('../partials/bodyMenu')%>

  </main>

  <footer>

    <%- include('../partials/footer')%>

  </footer>
  
</body>
</html>
